
@font-face {
  font-family: 'Highflier';
  src: url('/highflier_regular-webfont.woff2') format('woff2'),
       url('/highflier_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'Highflier';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
